
html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/*Parte superiore fino all'inizio bianco*/
header/*DO ALTEZZA ALL'INSIEME NAV + GRIGIO CON LOGO*/
{
    position: relative;
    background-color: #222F3E;
    height: 100px;
}

header img /*GRANDEZZA LOGO E POSIZIONAMENTO DELLO STESSO*/
{
width: 100px;
height: 50px;
padding: 10px 20px;
}

header nav/*LOLORE BARRA DI NAV + ALTEZZA E POSIZIONE*/
{
    display: block;
    background-color: #354859;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
}

header nav span /*RENDO GLI SPAN DEI MINI BLOCCHI E LI POSIZIONO A SX
FACENDOGLI PRENDERE L'INTERA ALTEZZA DEL NAV E SOLO LA LARGHEZZA NECESSARIA*/
{                 
    padding-left: 15px ;
    display: inline;
    float: left;
    height: 100%;
}

header nav span a /*STESSA COSA PER LA SCRITTA ALL'INTERNO DEI BLOCCHETTI
 + COLORE + DISTANZA DAL BASSO + TOLGO LA SOTTOLINEATURA DAI LINK */
{
    display: inline;
    float: left;
    padding-top: 5px;
    color: #CEEEED;
    text-decoration: none;
}
/*FINE DELL'HEADER INIZIO MAIN*/
main
{
    background-color: #EBEDED;
    border: 50px solid #EBEDED;
}
/*CONTIENE AGGIUSTAMENTI, LA STRISCIA ARANC E LA IMG DI BACKGR*/
.sez_orange
{
    background-color: #EBEDED;
    height: 250px;
    top: -10px;
}
/*COLORE STRISCIA ARANCIONE E DIMENS*/
.orange
{
    position: relative;
    width: 100%;
    height: 15%;
    margin-bottom: 35px;
    background-color: #F56600;
}
/*SCRITTA NELLA STRISCIA*/
.in_orange
{
    position: absolute;
    left: 43%;
    top: 25%;
    color: #CEEEED;
    text-decoration: none;
    text-align: center;
}
/*IMM VERDE DI BCKG CON POSIZ E DIM*/
.div_backg_green
{
    background-image: url(assets/bg-image.png);
    height: 60%;
    width: 100%;
    position: relative;
}
/*SCRITTA LINK ALL'INTERNO*/
.div_backg_green a b
{
    position: absolute;
    left: 41%;
    top: 35%;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    color: #EBEDED;
}
/*SCRITTA LINK ALL'INTERNO PICCOLINA*/
.div_backg_green a b span
{
    font-size: 15px;
}
/*INIZIO SEZIONE DELLE IMM MULTIPLE ALLINEATE*/
.didascalia_multiimg
{
    background-color: white;
    border-bottom: 5px solid white;
}
/*CONTENITORE COMPLESSIVO SERIE IMMAGINI*/
.conteiner
{
    background-color: white;
    overflow: hidden;
}
/*CONTENITORE DEL CONTENITORE DIDASCALIA SOPRA*/
.did_black
{
    padding-top:  25px;
    padding-left: 30px;
    font-size: 20px;
}
/*CONTENITORE DIDASCALIA CON POSIZIONAMENTO*/
.did_blue
{
    padding-left: 10px;
    font-size: 16px;
    color: #017185;
    text-decoration: none;
}
/*CONTENITORI IMMAGINI*/
.image_conteiner
{
    float: left;
    max-width: 290px;
    max-height: 380px;
    min-width: 290px;
    min-height: 380px;
    padding: 32px;
    margin: 0;
}
/*IMMAGINI*/
.img_d_b
{
 height: 100%;
 width: 100%;
 min-width: 290px;
 min-height: 380px;
 border-radius: 20px;
 display: block;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.362); /* Ombra */
 bottom: -4px; /* Spazio per l'ombra in basso */
 right: -4px; /* Spazio per l'ombra a destra */
}
/*caratteristiche dei contenitori delle immagini grandi orizzontali*/
.back
{
   overflow: hidden;
   margin: 0;
   max-height: 380px;
   width: 100%;
  margin-top: 35px;
}
/*immagini con larghezza tutto contenitore e altezza impostata massima*/
.back_in
{
    width: 100%;
    max-height: 380px;
}
/*contenitore dodascalia sotto e impost generali della stessa*/
.descript
{
   padding-top: 10px;
   text-align: center; 
   font-weight: bold;
}
/*didascalia in se (quella piccola azzurra)*/
.descript a 
{
    text-decoration: none;
    color: #017185;
    font-size: 15px;
    padding-left: 10px;
}
/* fine del main*/
/*inizio del FOOTER */
/*CONTENITORE COMPLESSIVO*/
#return
{
    margin: 0;
    height: 200px;
}
/* CONTENITORE STRISCETTA SOPRA*/
#return aside 
{
    position: relative;
    height: 45px;
    background-color: #354859; 
}
/*TESTO STRISCETTA*/
#Torna_su
{
    position: absolute;
    font-weight: bold;
    color: #EBEDED;
    top: 30%;
    left: 48%;
}
/*CONTENITORE LOGO AMZON*/
footer figure
{
    position: relative;
    margin: 0;
    background-color: #222F3E;
    height: 100%;
}
/*LOGO IN SE*/
footer figure img
{
  position: absolute;
  height: 60px;
  top: 33%;
  left: 45%;
}